// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$green: #32B796;

$bg-gray: #FBFBFB;
$light-gray: #E8E8E8;
$gray: #C0C0C0;
$charcoal: #4C4C4C;
$orange: #FF8E6D;

