// REACT NAVBAR
.react-navbar {
  background: white;
  transition: all 0.3s ease;
  height: 60px;
  padding: 0px 30px;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.5px $light-gray;
  z-index: 100;
}

.navbar-logo {
  height: 18px;
}

/* User Avatar */
.navbar-avatar-container {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid white;
  transition: all 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: image-url("user_icon.png");
  background-size: cover;
  &:hover {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
    height: 38px;
    width: 38px;
    background-color: $yellow;
  }
}

.react-navbar .avatar {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.login-navbar-text {
  font-size: 1em;
  color: $light-gray;
  font-weight: 600;
  transition: all 0.1s ease;
  &:hover {
    color: $charcoal;
  }
}

/* Main navbar */
.navbar {
  background: white;
  transition: all 0.3s ease;
  height: 60px;
  padding: 0px 30px;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.5px $light-gray;
  z-index: 100;
}

/* Logo */
.navbar-brand img {
  height: 18px;
}

/* User Avatar */
.navbar .avatar {
  height: 31px;
  width: 31px;
  border-radius: 50%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid white;
  transition: all 0.1s ease;
  &:hover {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
    height: 36px;
    width: 36px;
    background-color: $yellow;
  }
}

// Plus Icon (Create New)
.navbar-create-div {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-gray;
  transition: all 0.1s ease;
  &:hover {
    height: 36px;
    width: 36px;
    background-color: $orange;
  }
}

.plus-icon {
  height: 51%;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding-right: 0px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}

/* Navbar link */
.navbar-link {
  font-size: 14px;
}
.navbar-link:hover {
  text-decoration: none;
}
