/* Main navbar */
.navbar {
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.5px $light-gray;
}

/* Logo */
.navbar-brand img {
  height: 42px;
}

/* User Avatar */
.navbar .avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid white;
  margin-bottom: 0px;
  transition: all 0.1s ease;
}

.avatar:hover {
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
  margin-bottom: 1px;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding-right: 20px;
}

/* Navbar link */
.navbar-link {
  font-size: 14px;
}
.navbar-link:hover {
  text-decoration: none;
}
