.pin-show-container {
  width: 100vw;
  display: flex;
}

// CONTENT
.pin-show-pin-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 10%;
  padding-bottom: 70px;
}

.pin-show-pin-container-with-map {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 20%;
  padding-bottom: 70px;
}

.pin-show-content {
  flex: 1 0 67%;
}

.pin-show-photo {
  width: calc(50% - 15px);
}

.pin-show-information {
  width: calc(50% - 15px);
}

.pin-show-guide-select {
  width: 67%;
  z-index: 1;
  margin-bottom: 30px;
  margin-left: 33%;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 0.7em;
  display: flex;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.pin-show-title {
  font-weight: 800;
  letter-spacing: -0.5px;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 20px;
}

.pin-show-profile-container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pin-show-profile-and-guide {
  display: flex;
  align-items: center;
}

.pin-show-user-avatar {
  height: 45px;
  width: 45px;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.pin-show-user-info {
  margin-left: 10px;
}

.pin-show-user-name {
  font-size: 1em;
  margin: 0px;
  font-weight: 800;
  letter-spacing: -0.2px;
}

.pin-show-saved-to {
  display: inline;
  font-size: 0.7em;
  margin: 0px;
  font-weight: 500;
  letter-spacing: -0.2px;
  margin-right: 3px;
}

.pin-show-guide-name {
  display: inline;
  font-size: 0.7em;
  margin: 0px;
  font-weight: 700;
  letter-spacing: -0.2px;
}

.pin-show-follow-button {
  background-color: $charcoal;
  padding: 6px 12px;
  font-size: 0.6em;
  letter-spacing: 1px;
}

.pin-show-hr {
  border: 1px solid $bg-gray;
  width: 100%;
}

// MAP
.pin-show-map {
  flex: 0 0 33%;
  height: calc(100vh - 60px);
  background-color: $light-gray;
  position: sticky;
  top: 60px;
  // background-image: url("https://static01.nyt.com/newsgraphics/2015/02/25/ny-geo-quiz/assets/greaternyc_x.png");
  background-size: cover;
}
