.pin-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.pin-card {
  width: 25%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  &:hover {
    background-color: $light-gray;
  }
}

.pin-photo {
  width: 100%;
  border-radius: 4px;
}
