.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-banner {
  height: 300px;
  width: 100%;
  background-color: $light-gray;
}

.profile-summary {
  font-family: $headers-font;
  width: 100%;
  padding: 0px 20%;
  padding-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.profile-summary-left {
  display: flex;
}

.profile-information {
  margin-left: 20px;
}

.profile-avatar {
  width: 200px;
  height: 200px;
  margin-top: -65px;
  border-radius: 50%;
  z-index: 1;
  border: 4px solid white;
}

.profile-name-text {
  font-weight: 800;
  font-size: 1.8em;
  margin: 0px;
  margin-bottom: 10px;
}

.profile-follow-button {
  margin-top: 10px;
}

.profile-nationality {
  color: $gray;
  display: inline;
}

.profile-url {
  margin-left: 10px;
  display: inline;
}

.tab {
  display: inline-block;
  margin: 0px 2px;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
  padding: 10px 20px;
  &:hover {
    background-color: $light-gray;
    border-radius: 5px;
  }
}

.tab:hover a {
  color: $charcoal;
}

.tab a {
  font-family: $headers-font;
}

.selected-tab {
  background-color: $light-gray;
  border-radius: 5px;
}

.selected-tab a {
  color: $charcoal;
}
