.sub-navbar {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid $light-gray;
  position: sticky;
  top: 60px;
  z-index: 100;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
}

.sub-navbar-item {
  display: flex;
  align-items: center;
  height: 100%;
}

.share-icon {
  height: 30px;
  width: 30px;
  border: 1px solid $charcoal;
  border-radius: 50%;
}
